/* FotosPage.module.css */
.container {
  padding: 60px 40px;
  min-height: 100vh;
  background: #f5f5f5;
}

.titulo {
  font-size: 3rem;
  text-align: center;
  color: #333;
}

.backButton {
  position: fixed;
  top: 30px;
  left: 30px;
  padding: 12px 24px;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para sdkyrgy */
.sdkyrgy {
  width: 250px; /* o el tamaño que prefieras */
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
  position:absolute;
  left: 150px;
}

.sdkyrgy:hover {
  transform: translateY(-15px) scale(1.05); /* Mueve arriba y agranda */
  filter: 
    drop-shadow(0 15px 25px rgba(0, 0, 0, 0.25))
    drop-shadow(0 8px 20px rgba(0, 0, 0, 0.15));
}

.sdxina {
  width: 250px; /* o el tamaño que prefieras */
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
  position:absolute;
  left: 600px;
}

.sdxina:hover {
  transform: translateY(-15px) scale(1.05); /* Mueve arriba y agranda */
  filter: 
    drop-shadow(0 15px 25px rgba(0, 0, 0, 0.25))
    drop-shadow(0 8px 20px rgba(0, 0, 0, 0.15));
}