/* src/pages/styles.module.css */
/* Estil comú per totes les fotos */
.sdkyrgy,
.sdxina,
.sdcultura {
  width: 200px;           
  display: inline-block;   
  margin-right: 20px;      
  margin-top: 40px;       /* fa que totes baixin una mica */
  transition: transform 0.3s;
  cursor: pointer;
  vertical-align: bottom;  
}

/* La imatge de Xina una mica més alta */
.sdxina {
  vertical-align: top;     
}

/* Espai extra a la dreta de l’última imatge */
.sdcultura {
  margin-right: 50px;     
}

/* Hover per agrandar lleugerament */
.sdkyrgy:hover,
.sdxina:hover,
.sdcultura:hover {
  transform: scale(1.05);
  z-index: 10;
}

/* estilos existentes */
.videoxina,
.videokyrgy {
  position: relative;
  width: 100%;          /* Ocupa todo el ancho del contenedor */
  max-width: 1000px;    /* Máximo ancho que quieras */
  aspect-ratio: 16 / 9; /* Mantiene proporción 16:9 */
  margin-bottom: 40px;  /* Espacio entre videos */
}

.videoxina iframe,
.videokyrgy iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px; /* opcional, bordes redondeados */
}

/* nuevos videos */
.videouganda,
.videojordania,
.videoberlin {
  position: relative;
  width: 100%;
  max-width: 1000px;
  aspect-ratio: 16 / 9;
  margin-bottom: 40px;
}

.videouganda iframe,
.videojordania iframe,
.videoberlin iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.youtubeLogoLink {
  display: inline-block;
  margin-bottom: 20px;
  transition: transform 0.2s;
}

.youtubeLogoLink:hover {
  transform: scale(1.1);
}

.youtubeLogo {
  width: 80px; /* ajusta el tamaño que quieras */
  height: auto;
}

.youtubeText {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

/* Contenedor de la galería */
.galleryxina {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  justify-content: center;               /* centra la galería horizontalmente */
  gap: 20px;                             /* espacio entre imágenes */
}

/* Cada imagen */
.image {
  width: 100%;
  max-width: 400px;   /* opcional: limita el tamaño máximo */
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease; /* efecto hover */
}

/* Efecto hover: un poquito de zoom */
.image:hover {
  transform: scale(1.05);
}