/* src/pages/styles.module.css */

.sdkyrgy,
.sdxina,
.sdcultura {
  width: 200px;
  transition: transform 0.3s;
  cursor: pointer;
  position: relative; /* permite mover individualmente */
}

/* Kyrgy: ligeramente más pequeña y desplazada */
.sdkyrgy {
  width: 195px;
  top: 20px;     /* mueve hacia abajo */
  left: 30px;    /* mueve hacia la derecha */
}

/* Xina: más abajo y más a la derecha */
.sdxina {
  top: 150px;
  left: 180px;
}

/* Cultura: intermedia vertical y más a la derecha */
.sdcultura {
  top: 80px;
  left: 350px;
}

/* Hover para todas */
.sdkyrgy:hover,
.sdxina:hover,
.sdcultura:hover {
  transform: scale(1.05);
  z-index: 10;
}

.videoxina,
.videokyrgy {
  position: relative;
  width: 100%;          
  max-width: 1000px;    
  aspect-ratio: 16 / 9; 
  margin-bottom: 40px;  
}

.videoxina iframe,
.videokyrgy iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px; 
}

.videouganda,
.videojordania,
.videoberlin {
  position: relative;
  width: 100%;
  max-width: 1000px;
  aspect-ratio: 16 / 9;
  margin-bottom: 40px;
}

.videouganda iframe,
.videojordania iframe,
.videoberlin iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.youtubeLogoLink {
  display: inline-block;
  margin-bottom: 20px;
  transition: transform 0.2s;
}

.youtubeLogoLink:hover {
  transform: scale(1.1);
}

.youtubeLogo {
  width: 80px;
  height: auto;
}

.youtubeText {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}