/* src/pages/styles.module.css */

.page {
  min-height: 100vh;
  background: #ffffff;
  padding: 60px 40px;
}

/* CONTENEDOR PERFECTO */
.containerSD {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px; /* separación igual real */
  margin-top: 80px; /* evita navbar */
  flex-wrap: wrap; /* por si pantalla pequeña */
}

/* imágenes */
.sdkyrgy,
.sdxina,
.sdmadagascar,
.sdtanzania,
.sdcultura {
  width: 200px;
  transition: transform 0.3s;
  cursor: pointer;
}

/* hover bonito */
.sdkyrgy:hover,
.sdxina:hover,
.sdmadagascar:hover,
.sdtanzania:hover,
.sdcultura:hover {
  transform: scale(1.05);
}

.videoxina,
.videokyrgy {
  position: relative;
  width: 100%;          
  max-width: 1000px;    
  aspect-ratio: 16 / 9; 
  margin-bottom: 40px;  
}

.videoxina iframe,
.videokyrgy iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px; 
}

.videouganda,
.videojordania,
.videoberlin {
  position: relative;
  width: 100%;
  max-width: 1000px;
  aspect-ratio: 16 / 9;
  margin-bottom: 40px;
}

.videouganda iframe,
.videojordania iframe,
.videoberlin iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.youtubeLogoLink {
  display: inline-block;
  margin-bottom: 20px;
  transition: transform 0.2s;
}

.youtubeLogoLink:hover {
  transform: scale(1.1);
}

.youtubeLogo {
  width: 80px;
  height: auto;
}

.youtubeText {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}